terraform.tfstate
terraform.tfstate.backup
theplan
theplan.json
testyMcTestFace
kubeconfig
.terraform/
test/
temp/
original/
original_resources/
k3s/
commands.sh
.terraform.lock.hcl
clusternet
vmcreate
vmdestroy